/*setting fonts*/
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #212529;
    text-align: left;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 2;
    margin: 16px 0 0 0;
}
button, input, select, textarea{
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    line-height: 1;
    color: #212529;
}
code, kbd, pre, samp {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 16px;
    line-height: 0.9;
}
*[disabled]{
    color:#888;
    cursor: not-allowed;
    background:#eee !important;
}
a{ color: #007bff;}
a:visited{ color: #0000ff;}



/*buttons*/
button {
    background: #007bff;
    padding: 0px 12px;
    height:36px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    box-sizing:border-box;
}
button:active{ background: #005bcf !important; }
button:hover { background: #006bef; }

/*forms*/
input, select, textarea{
    border: 1px solid #bbb;
    border-radius: 4px;
    background: #fff;
    outline: none;
    box-sizing:border-box;
    height:36px;
    padding: 0 12px;
    vertical-align:middle;
}
input:focus, select:focus, textarea:focus{ outline:none; border: 1px solid #007bff; }
input[type="range"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus{ outline: 1px solid #007bff; }
input[type="file"]{ padding-top: 6px}
input[type="color"]{ width: 70px; padding:0 6px}
textarea{ line-height:1.4; padding:6px 12px; }
/*custom slider*/
input[type="range"] {
    -webkit-appearance: none;
    height: 1rem;
    background: #ddd;
    outline: none;
    padding:0;
    border-radius:0;
    border: none;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 18px;
    background: #007bff;
    cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
    appearance: none;
    width: 12px;
    height: 18px;
    background: #007bff;
    cursor: pointer;
}

/*badges*/
kbd{
    padding: 2px 6px;
    color: #fff;
    background-color: #333;
    border-radius: 4px;
}

/*lists*/
.li{
    border: 1px solid #bbb;
    border-radius: 4px;
    box-sizingy:border-box;
    padding:6px 12px;
    background:#fff;
    min-height:22px;
}
/*vertical list*/
.vertical-list{
    display:flex;
    flex-direction:column;
}
.vertical-list>*:not(:last-child):not(:focus){ border-bottom:none }
.vertical-list>*:first-child:not(:last-child){ border-bottom-right-radius: 0; border-bottom-left-radius: 0 }
.vertical-list>*:last-child:not(:first-child){ border-top-left-radius: 0; border-top-right-radius: 0 }
.vertical-list>*:not(:last-child):not(:first-child){ border-radius:0 }
/*merged horizontal items*/
.horizontal-list{
    height:36px;
    display:inline-flex;
}
.horizontal-list>*:not(:last-child):not(:focus){ border-right:none }
.horizontal-list>*:first-child:not(:last-child){ border-bottom-right-radius: 0; border-top-right-radius: 0 }
.horizontal-list>*:last-child:not(:first-child){ border-bottom-left-radius: 0; border-top-left-radius: 0 }
.horizontal-list>*:not(:last-child):not(:first-child){ border-radius:0 }
/*tabs*/
.tabs{
    display:flex;
}
.tabs>*{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
}
.tabs>*:not(.active){
    border-top:none;
    border-left:none;
    border-right:none;
}
.tabs>*.active {
    cursor: default;
    font-weight: 500;
}
.tabs>*:not(.active):hover{
    cursor:pointer;
}

/*collapse-container for accordion or dropdown menu (pos absolute)*/
.collapse-head+.collapse-body{
    display:none;
    cursor:default;
    /*position:absolute;*/
}
.collapse-head:hover+.collapse-body, .collapse-body:hover{
    display:block;
}

/*tables*/
table{
    width:100%;
    border-collapse: collapse;
}
tr{
    border-top:1px solid #ddd;
}
tbody:first-child>tr:first-child, table>tr:first-child, thead>tr{
    border-bottom:2px solid #ddd;
}
td, th{
    padding: 10px 12px;
}