button.fa{
    padding:8px 16px 10px 16px;
    font-size:20px;
}
.background{
    background-image: url('bg.png');
    background-size: 250px 150px;
    background-color:#444;
    width:100vw;
    height:100vh;
    position:fixed;
    left:0;
    top:0;
    z-index:-99;
}
nav {
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    display:flex;
    justify-content:center;
    position:fixed;
    width:100%;
    box-sizing:border-box;
    left:0;
    top:0;
    z-inndex:99;
}
nav>*:not(:last-child){
    margin-right:20px;
}
nav>input{
    width:100%;
    max-width: 400px;
}
nav>input:focus{
    box-shadow: 0 0 6px #007bff;
}
section{
    background: rgba(0, 0, 0, 0.3);
    max-width:600px;
    margin:auto;
    min-height:100vh;
    box-sizing:border-box;
    padding: 74px 12px 12px 12px;
}
.li{
    padding:12px;
}
.vertical-list>.li:hover:not(.active), .tabs>.li:hover:not(.active), .tabs>li.active{
    cursor:pointer;
    background:#f9f9ff;
    font-weight:500;
    color:#448;
}
.tabs{
    display:flex;
    width:100%;
    max-width:600px;
}
.tabs>*{
    width:100%;
}
.CodeMirror, iframe{
    width:100%;
    height: calc(100vh - 163px);
    border: 1px solid #bbb;
    font-size:14px;

}
.fa-save{background:#0b4}
.fa-save:hover{background:#0a4}
.fa-save:active{background:#093 !important}
.fa-trash{background:#e20}
.fa-trash:hover{background:#d20}
.fa-trash:active{background:#c10 !important}

.modal-bg{
    background:rgba(0,0,0,0.5);
    width:100vw;
    height:100vh;
    left:0;
    top:0;
    position: fixed;
    z-index:99;
}
.modal-head, .modal-body, .modal-footer{
    margin:auto;
    max-width:300px;
    width:90%;
    border: 1px solid #bbb;
    background:#fff;
}
.modal-head{
    margin-top:100px;
    font-weight: 500;
    background:#f9f9ff;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    margin-top:100px;
    display:flex;
    justify-content:space-between;
    padding:8px 12px 0 12px
}
.modal-body{
    padding: 14px 12px;
    text-align:center;
    border-top:none;
    border-bottom:none;
    font-size:18px;
    font-weight: 500;
}
.modal-btn{
    padding:4px;
    margin-top:-10px;
    margin-right:-12px;
    padding: 12px 16px 10px 10px;
}
.modal-btn:hover{
    color:#448;
    cursor:pointer;
}
.modal-footer{
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-top:none;
    display:flex;
    flex-direction:row-reverse;
    padding:0px 12px 8px 12px;
    margin-top:-1px;
}

@media(max-width:575.98px){
    section {
        padding: 62px 0px 0px 0px;
    }
    section>.li {
        padding: 1px;
    }
    .CodeMirror, iframe{
        width:100%;
        height: calc(100vh - 116px);
        border: 1px solid #bbb;
        font-size:14px;

    }
    button.fa{
        padding:8px 14px 10px 14px;
    }
    nav {
        padding: 12px 8px;
    }
    nav>*:not(:last-child){
        margin-right:10px;
    }
}